<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Event</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/event.css" type="text/css">

    <!-- Add jQuery library (required) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body>
    <!-- Refer to header in partials folder -->
    <%- include('partials/_header') %>

    <% if (events.length > 0) { %>
      <% for(event of events) { %>
    <main class="container mt-4 event-page">
      <div class="event-invite text-center">
        <p>Invite people to vote!</p>
        <div class="event-invite-link">
          <div class="event-invite-emoji">🔗</div>
          <input id="event-link" type="text" name="share-link" value="www.foodle.com/event/<%= event.event_url %>" class="form-control">
            <button id="copy-btn" type="button" class="btn btn-primary" onclick="clickToCopy()" onmouseout="outCopy()"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Copy this link">
              Copy
            </button>
          </div>
        </div>
      </div>

      <div class="event-details">
        <div class="event-heading text-center">
          <h1><%= event.event_title %></h1>
          <p>Created by <%= event.user_name %></p>
        </div>
        <div class="event-location">
          <span class="event-label">Location:</span>
          <p><%= event.event_location %></p>
        </div>
        <div class="event-description">
          <span class="event-label">Description:</span>
          <p><%= event.event_description %></p>
        </div>
      </div>
        <% } %>
      <% } %>
      <hr>
      <!-- Decide how we want to implement this voting area -->
      <div class="event-voting">
        <section id="vote-area">
        <p>Add your name, email and votes</p>
        <form>
          <div class="new-entry">
            <div class="new-entry-user">
              <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" placeholder="Name">
                <label for="name">Name</label>
              </div>
              <!-- We need email as per the assignment requirements -->
              <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="new-entry-timeslots">
            <ul class="list-group">
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Oct 20, 2021 7:00 PM - 9:00 PM
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Oct 21, 2021 6:00 PM - 8:00 PM
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Oct 22, 2021 7:00 PM - 9:00 PM
              </li>
            </ul>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <hr>
      </section>

        <!-- Existing votes -->
        <div class="vote-header">
          <div class="vote-header-title">Votes</div>
          <div class="btn btn-secondary" id="show-vote-area">Add New</div>
        </div>
        <div>
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Oct 20, 7-9PM</th>
                <th scope="col">Oct 21, 6-8PM</th>
                <th scope="col">Oct 22, 7-9PM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="">Edit</a></td>
                <td>Hanna</td>
                <td>✅</td>
                <td></td>
                <td>✅</td>
              </tr>
              <tr>
                <td><a href="">Edit</a></td>
                <td>Larry S</td>
                <td></td>
                <td></td>
                <td>✅</td>
              </tr>
              <tr>
                <td><a href="">Edit</a></td>
                <td>Annie</td>
                <td>✅</td>
                <td>✅</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <!-- Refer to footer in the partials folder -->
    <%- include('partials/_footer') %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- MOVE THE SCRIPT ONCE IT IS FINALIZED -->
    <script>
      // Initialize bootstrap tooltips
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })

      // Copy URL Link
      function clickToCopy() {
        const copyLink = document.getElementById("event-link");
        copyLink.select();
        copyLink.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyLink.value);

        document.getElementById("copy-btn").setAttribute("data-bs-original-title", "Copied");
      }

      function outCopy() {
        // document.getElementById("copy-btn").setAttribute("data-bs-original-title", "Copy this link");
      }

      // Show/Hide Vote Area
      $('#vote-area').hide();

      $('#show-vote-area').click(function() {
        $('#vote-area').slideToggle();
      })

      </script>
  </body>
</html>
